[
    {
        "left_top": {
            "text_segments": [
                {
                    "text": "Nikon",
                    "color": "black"
                },
                {
                    "text": " ",
                    "color": "black"
                },
                {
                    "text": "Z",
                    "color": "red",
                    "font_path": "fonts/AlibabaPuHuiTi-2-85-Bold.otf"
                },
                {
                    "text": "7II",
                    "color": "black"
                }
            ],
            "processor_name": "multi_rich_text"
        },
        "left_bottom": {
            "processor_name": "rich_text",
            "text": "12345",
            "color": "#242424"
        },
        "right_top": {
            "processor_name": "rich_text",
            "text": "12345",
            "color": "#242424"
        },
        "right_bottom": {
            "processor_name": "rich_text",
            "text": "12345",
            "color": "#242424"
        },
        "color": "white",
        "top_margin": 100,
        "left_margin": 100,
        "right_margin": 100,

        "processor_name": "watermark"
    }
]