[
  {
    "left_top": {
      "text_segments": [
        {
          "text": "{{ exif.CameraModelName | replace('_', '') }}",
          "color": "black",
          "font_path": "fonts/AlibabaPuHuiTi-2-85-Bold.otf",
          "is_bold": true
        }
      ],
      "processor_name": "multi_rich_text"
    },
    "left_bottom": {
      "processor_name": "rich_text",
      "text": "{{ exif.LensModel }}",
      "color": "#242424"
    },
    "right_top": {
      "processor_name": "rich_text",
      "text": "{{exif.FocalLengthIn35mmFormat}} f/{{exif.AperatureValue}} {{exif.ShutterSpeedValue}}s ISO{{exif.ISO}}",
                "font_path": "fonts/AlibabaPuHuiTi-2-85-Bold.otf",
      "color": "#242424"
    },
    "right_bottom": {
      "processor_name": "rich_text",
      "text": "{{(exif.DateTimeOriginal or exif.CreateDate or exif.DigitalCreationDate or exif.DateCreated or exif.DateTimeCreated or exif.DigitalCreationDateTime)[:16]}}",
      "color": "#242424"
    },
    "left_logo": "{{auto_logo()}}",
    "color": "white",
    "processor_name": "watermark"
  }
]