name: Build

on:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build Executable
      run: |
        pyinstaller main.spec

    - name: Modify Folder Name
      run: |
        Get-Content version | Rename-Item -Path "./dist/main" -NewName { "./dist/semi-utils-$_" }

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: semi-utils-latest
        path: dist
